#synth {
  display: flex;
  justify-content: center;
}

#label {
  margin-left: -5px;
}

#waveDisp {
  display: block;
  top: 0;
}

#waveSwitcher {
  display: flex;
  width: 190px;
  align-items: center;
  justify-content: space-between;
}

#waveTypes {
  width: 56px;
  max-width: 56px;
  min-width: 56px;
  margin: 0 5px 0 5px;
  display: inline-block;
  text-align: center;
}

#waveGainAdd {
  display: flex;
  width: 190px;
  align-items: center;
  justify-content: space-between;
}

#addWave {
  background-color: #a31800;
  width: 36px;
  height: 36px;
}

#subWave {
  background-color: #3260ab;
  width: 36px;
  height: 36px;
}

#wave {
  background-color: #6d7075;
  width: 190px;
  margin: 0;
}

#selectedWave {
  background-color: #b9bdc4;
  width: 190px;
  margin: 0;
}

#wavecontainer {
  height: 304px;
  overflow-x: auto;
}

#filterDisp {
  display: block;
  top: 0;
}

#filterSwitcher {
  display: flex;
  width: 190px;
  align-items: center;
  justify-content: space-between;
}

#filterTypes {
  width: 56px;
  max-width: 56px;
  min-width: 56px;
  margin: 0 5px 0 5px;
  display: inline-block;
  text-align: center;
}

#filterAdd {
  display: flex;
  width: 190px;
  align-items: center;
  justify-content: space-between;
}

#addFilter {
  background-color: #a31800;
  width: 36px;
  height: 36px;
}

#subFilter {
  background-color: #3260ab;
  width: 36px;
  height: 36px;
}

#filter {
  background-color: #6d7075;
  width: 190px;
  margin: 0;
}

#selectedFilter {
  background-color: #b9bdc4;
  width: 190px;
  margin: 0;
}

#filtercontainer {
  height: 304px;
  overflow-x: auto;
}

#whiteIcon {
  color: white;
  padding-left: 4px;
}

#detune {
  width: 68px;
  height: 36px;
}

#detuneType {
  height: 36px;
}

#audioDisp {
  display: block;
}

#freqDisp {
  display: block;
}
